* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#titulo {
  text-align: center;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  background-color: #90e0ef;
}

#minha_foto {
  border-radius: 20%;
  background-image: url('imagem/foto_perfil_2.jpeg');
  background-size: cover;
  background-position: 100%;
}

#licoes {
  margin: 50px;
  padding: 50px;
  display: inline-block;
  background-color: #954422;
}

#licoes_aprendidas {
  font-family: Arial, Helvetica, sans-serif;
  width: min-content;
  margin: 10px;
  padding: 30px;
}

#licoes_a_aprender {
  font-family: 'Times New Roman', Times, serif;
  width: max-content;
  margin: 10px;
  padding: 30px;
  float: right;
  display: inline-block;
}

#corpo-do-site {
  width: 90%;
  margin: auto;
}

.lado-esquerdo {
  width: 50%;
  display: inline-block;
  color: rgb(46, 36, 36);
}

.lado-direito {
  width: 50%;
  display: inline-block;
  background-color: #90e0ef;
  padding: 30px;
}

h2 h3 {
  padding-bottom: 50px;
}

.botton {
  display: inline-block;
  float: right;
  color: #954422;
  background-color: aqua;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px 30px;
}

#rodape {
  text-align: center;
  background-color: #1282a2;
  padding: 20px;
  float: none;
}
