    body{
        background-color: rgb(253, 251, 251);
    }
    #titulo {
        text-align: center;
    }
    #cabecalho{
        position: fixed;
        top: 0;
        text-align: center;
        left: 0;
        right: 0;
    }
    #minha_foto{
        border-radius: 20%;
        width: 300px;
        text-align: center;
    }